.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
        .media-right
          - if @prototype.user_id == current_user.id
            %h5
            = link_to 'EDIT', "/prototypes/#{@prototype.id}/edit", method: :get
            %h5
            = link_to 'DELETE', "/prototypes/#{@prototype.id}", method: :delete
  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .comment
    %p Write your comment
    .comment__form
      = form_for [@prototype,@comment] do |f|
        =f.label :name, "name"
        =f.text_area :body
        = f.hidden_field :prototype_id, :value => @prototype.id
        = f.hidden_field :user_id, :value => current_user.id
        =f.submit "Send"
    %p comments
    .comment__show
      -@comments.each do |comment|
        =comment.body






